
/* эти настройки гридов не имеют ничего общего 
с гридом остального сайта, просто эксперименты */

.myGridTest{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  padding: 2vw;
}

.myGridTest > div {
  font-size: 5vw;
  padding: .5em;
  background: #2ED436;
  text-align: center;
}
