
.gridTable {
	display: grid;
   	grid-template-rows: repeat(3, 1fr);
   	grid-template-columns: repeat(3, 1fr);
}
.marginTop{
	margin-top: 20px;
}
/* или через grid: вначале должны строки идти, потом столбцы
grid: 1fr 1fr 1fr / 1fr 1fr 1fr; ъ
или
grid: repeat(3, 1fr) / repeat(3, 1fr)*/