.dialogs {    
    background-color: #05D322;
    display: grid;
    grid-template-columns: 2fr 10fr
}

.dialogsItem{
	padding: 10px
}

.dialogsItem .active{
	color: gold
}

.dialogsItem .dialog {

}

.messages{
	padding: 10px
}
/* чисто развлекаюсь и экспериментирую, 
дз разместить сообщения в два столбца */
.messageRight {
	padding: 10px;
    background-color: #5754E8;
	
    display: flex;
    flex-direction: row-reverse;
}